html{
    font-size: 100%;
}


/* COMMON */
#jumbotron,
#portfolio,
#about,
#contact-me,
#top-footer,
#bottom-footer{
    padding: 50px 0;
}


ul li{
    list-style-type: none;
    margin-right: 20px;
}

/* HEADER */
header{
    background-color: #2c3e50;
    height: 80px;
    line-height: 80px;
}

header a{
    text-decoration: none;
    color: inherit;
}


/* /HEADER */

/* JUMBOTRON */
#jumbotron,
#about{
    background-color: #1abc9c;
}

#jumbotron img{
    height: 200px;
}
/* /JUMBOTRON */

/* PORTFOLIO */
#portfolio img{
    border-radius: 20px;
}

/* /PORTFOLIO */

/* ABOUT */
#about .btn{
    color: white;
    border: 1px solid white;
}
/* /ABOUT */


/* CONTACT ME */
#contact-me .form-control{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}
#contact-me .ms-text-area{
    min-height: calc(1.5em + 10.75rem + 2px)
}

#contact-me .btn{
    background-color: #1abc9c;
    border: #1abc9c;
}



/* /CONTACT ME */

/* FOOTER */

/* top-footer */
#top-footer{
    background-color: #3a546d;
}

#top-footer a{
    color: white;

}
#top-footer i{
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

#top-footer .ms-a{
    color: #1abc9c;
}
/* bottom-footer */
#bottom-footer{
    background-color: #2c3e50;
}